body {
  margin: 0;
}
header {
  position: relative;
}
.logo {
  height: 150px;
  position: absolute;
  top: 0;
}
li:hover {
  color: rgb(49, 111, 70);
  border-bottom: 2px solid rgb(49, 111, 70);
  background-color: transparent;
  margin: -1px;
}

.banner {
  background-image: url(img/banner.jpg);
  height: 600px;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  align-items: flex-end;
}
.textos-banner {
  background-color: rgba(49, 111, 70, 0.952);
  height: 200px;
  color: #fff;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: -80px;
}
.textos-banner h1 {
  font-family: "Dancing Script", cursive;
  font-size: 74px;
}
.textos-banner h2 {
  font-family: "Poiret One", cursive;
  font-size: 42px;
}

@media (max-width: 768px) {
  .logo {
    height: 100px;
    right: 10px;
  }
  .banner {
    height: 500px;
  }
  .textos-banner {
    height: 150px;
  }
  .textos-banner h1 {
    font-size: 50px;
  }
  .textos-banner h2 {
    font-size: 30px;
  }
}
.section-cards-all {
  padding: 100px 0;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.section-card {
  width: 340px;
  height: 300px;
  background-image: url(img/img-card-section.png);
  border-radius: 60px;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  justify-content: end;
  margin: 10px 0;
}
.card-descricao {
  background: #316f46;
  opacity: 82%;
  height: 70px;
  border-radius: 0 0 60px 60px;
  display: flex;
  align-items: center;
  justify-content: center;
}
section h3 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
}
.newsletter {
  background-image: url(img/newsletter.png);
  width: 100%;
  padding: 40px 0;
}
.conteudo-newsletter {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}
.newsletter-txt {
  color: #fff;
  text-align: center;
  margin: 20px;
}
#email {
  padding: 10px 70px 10px 20px;
  border: none;
  margin: 20px;
}
.btn-newsletter {
  padding: 10px 60px;
  border: none;
  color: #316f46;
  font-weight: 600;
  margin: 20px;
}
main h1 {
  font-weight: 600;
  text-transform: uppercase;
  color: #316f46;
  text-align: center;
  padding: 30px;
}
article {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.card-oferta {
  box-shadow: 0 0 16px 0px #0000111f;
  margin-top: 10px;
}
.parte-branca {
  text-align: center;
  padding: 30px 50px;
}
.parte-branca h3 {
  margin-bottom: 30px;
}
.parte-verde {
  text-align: center;
  padding: 20px 50px;
  background-color: #316f46;
  color: #fff;
}
.parte-verde span {
  font-size: 40px;
  font-weight: bold;
}
.galeria {
  padding: 50px 0;
}
.parte1-galeria {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.parte1-galeria img {
  width: 30%;
}

.img-lazer1 {
  background-image: url(img/lazer1.png);
  width: 400px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 10px;
}
.img-lazer2 {
  background-image: url(img/lazer2.png);
  width: 400px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 10px;
}
.img-lazer3 {
  background-image: url(img/lazer3.png);
  width: 400px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 10px;
}
.img-lazer4 {
  background-image: url(img/lazer4.png);
  width: 400px;
  height: 350px;
  border-radius: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  font-weight: bold;
  color: #fff;
  text-shadow: 0.1em 0.1em 0.2em black;
  margin: 10px;
}
.img-lazer1:hover,
.img-lazer2:hover,
.img-lazer3:hover,
.img-lazer4:hover {
  opacity: 80%;
}
.sessao-lazer {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
.sobre {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  flex-wrap: wrap;
  margin: 50px 0;
}
.sobre-txt {
  width: 40%;
}
.sobre-txt h3 {
  font-weight: bold;
  color: #316f46;
}
.sobre-txt img {
  width: 30px;
  margin: 10px;
}
.txt-tel {
  display: flex;
  align-items: center;
}
.sobre-maps {
  text-align: center;
}
.sobre-maps button {
  border: none;
  background: transparent;
  color: #316f46;
  font-weight: bold;
}
.footer-parte1 {
  padding: 20px 0;
  background: #316f46;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-wrap: wrap;
}
.footer-parte2 {
  background-color: #549d6d;
  padding: 21px;
  text-align: center;
  color: #fff;
}
@media (max-width: 600px) {
  .sobre-txt {
    width: 80%;
  }
  .mapss {
    width: 300px;
    height: 200px;
  }
  .parte1-logo img {
    width: 150px;
  }
  .redes {
    text-align: center;
  }
  .redes img {
    width: 40px;
  }
}
