@{
    ViewData["Title"] = "Excellencia Hotel";
}
<head>
    <link rel="stylesheet" href="@Url.Content("~/css/site.css")" />
</head>
<body>

    <div class="banner">
        <div class="container">
            <div class="textos-banner">
                <div><h1>Bem Vindo</h1></div>
                <div><h2>ao Hotel Excellência</h2></div>
            </div>
        </div>
    </div>

    <section>
        <div class="container">
            <div class="section-cards-all">
                <div class="section-card" id="img1section">           
                    <div class="card-descricao">
                        <h3>Quarto <b>Família</b></h3>
                    </div>
                </div>
                <div class="section-card" id="img2section">
                    <div class="card-descricao">
                        <h3>Quarto <b>Luxo</b></h3>
                    </div>
                </div>
                <div class="section-card" id="img3section">
                    <div class="card-descricao">
                        <h3>Quarto <b>Casal</b></h3>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="newsletter">
        <div class="conteudo-newsletter">
            <div class="newsletter-txt">
                <h3>Fique sabendo </h3>
                <b>das melhores promoções</b>
                <p>pelo seu email</p>
            </div>
            <input type="email" name="email" id="email" placeholder="Digite seu email" />
            <button class="btn-newsletter">Enviar</button>
        </div>
    </div>
    <main>
        <div class="container">
            <h1>Ofertas</h1>
            <article>
                <div class="card-oferta">
                    <div class="parte-branca">
                        <h3>Lorem Ipsum</h3>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                    </div>
                    <div class="parte-verde">
                        <h3>Lorem Ipsum</h3>
                        <span>R$ 00,00</span>
                    </div>
                </div>
                <div class="card-oferta">
                    <div class="parte-branca">
                        <h3>Lorem Ipsum</h3>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                    </div>
                    <div class="parte-verde">
                        <h3>Lorem Ipsum</h3>
                        <span>R$ 00,00</span>
                    </div>
                </div>
                <div class="card-oferta">
                    <div class="parte-branca">
                        <h3>Lorem Ipsum</h3>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                        <p>is simply dummy </p>
                    </div>
                    <div class="parte-verde">
                        <h3>Lorem Ipsum</h3>
                        <span>R$ 00,00</span>
                    </div>
                </div>
            </article>
            <div class="galeria" id="galeria">
                <div class="parte1-galeria">
                    <img src="~/image/img-galeria1.png" alt="img1" />
                    <img src="~/image/img-galeria2.png" alt="img1" />
                    <img src="~/image/img-galeria3.png" alt="img1" />
                </div>
                <div class="parte1-galeria">
                    <img src="~/image/img-galeria4.png" alt="img1" />
                    <img src="~/image/img-galeria5.png" alt="img1" />
                    <img src="~/image/img-galeria6.png" alt="img1" />
                </div>
            </div>
            <div class="Lazer" id="lazer">
                <h1>Lazer</h1>
                <div class="sessao-lazer">
                    <div class="img-lazer1">
                        <p>Piscinas</p>
                    </div>
                    <div class="img-lazer2">
                        <p>Tirolesa</p>
                    </div>
                </div>
                <div class="sessao-lazer">
                    <div class="img-lazer3">
                        <p>Piscinas</p>
                    </div>
                    <div class="img-lazer4">
                        <p>Tirolesa</p>
                    </div>
                </div>
            </div>
            <div class="sobre" id="contato">
                <div class="sobre-txt">
                    <h3>Sobre nós</h3>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. </p>
                    <div class="txt-tel">
                        <img src="~/image/tel.png" alt="tel" />
                        <p>55 11 925416325</p>
                    </div>
                </div>
                <div class="sobre-maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d58483.32819461617!2d-46.73178672089842!3d-23.632720499999987!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x94ce50e7bce0b493%3A0x6c426a052cfa9769!2sUNIP!5e0!3m2!1spt-BR!2sbr!4v1634688268044!5m2!1spt-BR!2sbr" width="450" height="300" style="border:0;" allowfullscreen="" loading="lazy" class="mapss"></iframe>
                    <p>R. da Paz - Chácara Santo Antônio (Zona Sul), São Paulo - SP, 04713-001</p>
                    <button>como chegar -></button>
                </div>
            </div>
        </div>
    </main>

    </body>