@{
    ViewData["Title"] = "Excellencia Hotel";

}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/login.css")" />
</head>
<body>
    <div class="banner-login">
        <div class="modal-registro">
            <h1>LOGIN</h1>
            <form asp-action="Verificar" method="post" class="form">
                <input type="email" name="email" placeholder="E-mail" />
                <input type="password" name="senha" placeholder="Senha" />
                <span class="esqueci-senha">Esqueci a Senha</span>
                <div class="button-entrar">
                   <input type="submit" class="btn btn-success" value="LOGIN"/>              
                   @* <a class="btn btn-success">ENTRAR</a>*@
                </div>
                <div class="fazer-login">
                    <p>Não tem conta?</p>
                    <span>Criar conta</span>
                </div>
            </form>

        </div>
    </div>
</body>