@{
    ViewData["Title"] = "Excellencia Hotel";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/login.css")" />
</head>
<body>
    <div class="banner-login">
        <div class="modal-registro">
            <h1>LOGIN</h1>
            <div class="form">
                <div>
                    <input type="email" placeholder="E-mail" />
                </div>
                <div>

                    <input type="password" placeholder="Senha" />
                </div>
                <span class="esqueci-senha">Esqueci a Senha</span>
                <div class="button-entrar">
                    <button>ENTRAR</button>
                </div>
                <div class="fazer-login">
                    <p>Não tem conta?</p>
                    <span>Criar conta</span>
                </div>
            </div>
        </div>
    </div>
</body>