
@{
    ViewData["Title"] = "Detalhes Quarto";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<head>
    <link rel="stylesheet" href="@Url.Content("~/css/detalhesquarto.css")" />
</head>
<body>
    <div class="banner">
        <h2 class="h2">QUARTO FAMILY</h2>
    </div>
    <div class="info-quarto">
        <div class="container">
            <div class="infos">
                <p>Contém duas camas de solteiro, uma cama de casal, possui 1 berço e 2 banheiro.</p>
                <div class="info-suite">
                    <div class="info1">
                        <img src="~/image/camas.png" alt="icone cama">
                        <h3>CAMAS</h3>
                        <h2>5</h2>
                    </div>
                    <div class="info1">
                        <img src="~/image/quartos.png" alt="icone guarda roupa">
                        <h3>QUARTOS</h3>
                        <h2>2</h2>
                    </div>
                    <div class="info1">
                        <img src="~/image/banheiro.png" alt="icone banheiro">
                        <h3>BANHEIRO</h3>
                        <h2>2</h2>
                    </div>
                </div>

                <div class="valor-diaria">
                    <h3>VALOR DA DIÁRIA</h3>

                    <div class="preco-diaria">
                        <h2>R$ 999,99</h2>
                    </div>
                </div>

                <div class="botao-reserva">
                    <a class="btn btn-success m-5" href="/CheckInDatas">Reservar Quarto</a>
                </div>
                <div class="fotos-quarto">
                    <h3>Mais fotos do quarto</h3>
                    <div class="img-quarto">
                        <img src="~/image/qfamilyPK.jpeg" alt="">
                        <img src="~/image/qfamilyPK.jpeg" alt="">
                        <img src="~/image/qfamilypk.jpeg" alt="">
                    </div>
                </div>

            </div>
        </div>
    </div>
</body>

